################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Contacte/.vs/Contacte/v15
/Contacte/.vs/config
